// default theme
@use "@picocss/pico/scss/pico" with (
  // * https://picocss.com/docs/sass
  // Theme color: amber, azure, blue, cyan, fuchsia, green, grey, indigo, jade, lime, orange, pink, pumpkin, purple, red, sand, slate, violet, yellow, zinc
  $theme-color: "orange",
  // Enable <header>, <main>, <footer> inside $semantic-root-element as containers
  $enable-semantic-container: false,
  // Enable .classes
  // .classless version if disabled
  $enable-classes: true,
  $modules: (
    // Theme
    "themes/default": true,
  ),
);
// custom theme
@use "../lib/styles/theme";
